<div class="shop-switcher row" data-cdzwidget='{"cdz_panel":{"actions":{"classList":"shop-now","innerHTML":"<i class=\"fa fa-dollar\"><\/i>","href":"javascript:void(0)","callback":null}}}'>
	<div class="col-xs-6" data-id_shop="10">
		<a href="https://fastest-fashion-ellyana.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/fashion_ellyana.jpg?11855971508798436584">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-fashion-ellyana.myshopify.com">Fashion Ellyana</a></h5>
		</div>
	</div>

	<div class="col-xs-6" data-id_shop="5">
		<a href="https://fastest-big-market.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/demo_big_market.jpg?8950263060796871761">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-big-market.myshopify.com">Big Market</a></h5>
		</div>
	</div>

	<div class="col-xs-6" data-id_shop="7">
		<a href="https://fastest-tee.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/tee.jpg?1916759452522294142">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-tee.myshopify.com">Tee Shop</h5>
		</div>
	</div>

	<div class="col-xs-6" data-id_shop="11">
		<a href="https://fastest-fashion-violeta.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/fashion_violeta.jpg?11855971508798436584">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-fashion-violeta.myshopify.com">Fashion Violeta</a></h5>
		</div>
	</div>

	<div class="col-xs-6" data-id_shop="12">
		<a href="https://fastest-elle-jewelry.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/elle_jewelry.jpg?11855971508798436584">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-elle-jewelry.myshopify.com">Elle Jewelry</a></h5>
		</div>
	</div>

	<div class="col-xs-6" data-id_shop="13">
		<a href="https://fastest-elle-beauty.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/elle_beauty.jpg?11855971508798436584">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-elle-beauty.myshopify.com">Elle Beauty</a></h5>
		</div>
	</div>

	<div class="col-xs-6" data-id_shop="1">
		<a href="https://fastest-fashion-theme.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/fashion.jpg?8950263060796871761">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-fashion-theme.myshopify.com">Fashion</a></h5>
		</div>
	</div>

	<div class="col-xs-6" data-id_shop="2">
		<a href="https://fastest-westyle.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/westyle_fashion.jpg?8950263060796871761">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-westyle.myshopify.com">Westyle Fashion</a></h5>
		</div>
	</div>
	<div class="col-xs-6" data-id_shop="3">
		<a href="https://fastest-jewelry-theme.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/westyle_jewelry.jpg?8950263060796871761">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-jewelry-theme.myshopify.com">Westyle Jewelry</a></h5>
		</div>
	</div>
	<div class="col-xs-6" data-id_shop="4">
		<a href="https://fastest-westyle-shoes.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/westyle_shoes.jpg?8950263060796871761">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-westyle-shoes.myshopify.com">Westyle Shoes</a></h5>
		</div>
	</div>
	
	<div class="col-xs-6" data-id_shop="6">
		<a href="https://fastest-drug.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/demo_drug.jpg?8950263060796871761">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-drug.myshopify.com">Drug Store</a></h5>
		</div>
	</div>
	<div class="col-xs-6" data-id_shop="8">
		<a href="https://fastest-food-drink.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/food_drink.jpg?8950263060796871761">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-food-drink.myshopify.com">Food and Drinks</a></h5>
		</div>
	</div>
	<div class="col-xs-6" data-id_shop="9">
		<a href="https://fastest-grocery.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/grocery.jpg?15749784946804581153">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-grocery.myshopify.com">Grocery and Gourmet</a></h5>
		</div>
	</div>
	<div class="col-xs-6" data-id_shop="14">
		<a href="https://fastest-accessories.myshopify.com" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/accessories.jpg?16265715615693431498">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-accessories.myshopify.com">Accessories</a></h5>
		</div>
	</div>
	<div class="col-xs-6" data-id_shop="15">
		<a href="https://fastest-sportswear.myshopify.com/" class="abs-img">
			<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1944/8987/files/pane-sportswear.jpg?18160176142631267573">
		</a>
		<div class="shop-info">
			<h5 class="shop-name text-center"><a href="https://fastest-sportswear.myshopify.com/">Sportswear</a></h5>
		</div>
	</div>
</div>