{%- comment -%}show review stars in product list{%- endcomment -%}
{%- if settings.enable_review -%}
	{%- case settings.review_app -%}
	  {%- when 'product_review' -%}
	  	{%- if product.metafields.spr.reviews -%}
	     <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
	    {%- endif -%} 
	  {%- when 'ryviu' -%}
	  	{%- if product.metafields.ryviu.reviews -%}
	    	<div class="ryviu-collection-widget" data="collection_product_reviews" product-handle="{{product.handle}}"></div>
	    {%- endif -%}	
	 	{%- when 'loox' -%}
	 		{%- if product.metafields.loox.num_reviews -%}
				<div class="loox-rating" data-fetch data-id="{{ product.id }}"></div>
			{%- endif -%}	
	  {%- else -%}
	    {%- comment -%}Add your review code{%- endcomment -%}
	{%- endcase -%}
{%- endif -%}