<div class="container{% if section.settings.full_width %}-fluid{% endif %}">
  <div class="row">
    <div class="col-xs-12">
      {{ section.settings.content | raw }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Html",
    "class": "index-section custom-html",
    "settings": [
      {
        "type": "html",
        "id": "content",
        "label": "Html"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      }
    ],
    "presets": 
    [
      {
        "name": "Custom Html",
        "category": "Text"
      }
    ]
  }
{% endschema %}
