<div class="hero-wrap{% if section.settings.hidden_xs %} hidden-xs{% endif %}">
  <div class="container{% if section.settings.full_width %}-fluid{% endif %}">
    <div class="row">
      {%- if section.blocks.size > 0 -%}
      {%- assign size = section.blocks.size | times: 1 -%}
      {%- assign col_class = 12 | divided_by: size -%}
      {%- for block in section.blocks -%}
      <div class="col-xs-12 col-sm-{{ col_class }}">
        <a href="{{ block.settings.link | default: '#' }}">
          <img data-src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}" class="lozad"/>
        </a>
      </div>
      {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner Images",
    "class": "index-section index-section--flush",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "hidden_xs",
        "label": "Hide on mobile",
        "default" : true
      }
    ],
    "blocks": [
      {
        "type": "banner_image",
        "name": "Banner Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner Image",
        "category": "Image",
        "blocks": [
          {
            "type": "banner_image"
          }
        ]
      }
    ]
  }
{% endschema %}
