<div class="page-width">
  <div class="empty-page-content text-center">
    <h1 v-html="translate.general_404_title" class="skeleton-loading">{{ 'general.404.title' | t }}</h1>
    <p><span class="brackets skeleton-loading" data-trans-key="general.404.subtext">{{ 'general.404.subtext' | t }}</span></p>
    <p>
      <a href="/" class="btn btn--has-icon-after"><span class="brackets skeleton-loading" data-trans-key="general.404.link">{{ 'general.404.link' | t }}</span>{% include 'icon-arrow-right' %}</a>
    </p>
  </div>
</div>
