{% comment %}
  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
{% endcomment %}

<div class="main-container col2-right-layout">
  <div class="main">
    <div class="content-breadcrums">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% include 'breadcrumbs' %}
          </div>
        </div>
      </div>    
    </div>
    <div class="container col-main-containter">
      <div class="row">
        {% section 'article-template' %}
      </div>
    </div>
  </div>
</div>
