{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}
<div class="main-container col2-right-layout">
  <div class="main">
    <div class="content-breadcrums">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% include 'breadcrumbs' %}
          </div>
        </div>
      </div>		
    </div>
    <div class="container col-main-containter">
      <div class="row">
        {% section 'blog-template' %}
      </div>
    </div>
  </div>
</div>