{% layout none %}<div class="cdz-menu cdz-vertical-menu   cdz-normal menu-en" id="menu-712-5972e1a92b4b5-en" data-megamenu='{"dropdownEffect":"normal","type":"1"}'
            ><ul class="groupmenu"><li class="item level0  level-top parent" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-television"></i> <span>Applicances</span></a>
                    <ul class="groupmenu-drop">
                                    <li class="item level1  text-content" >
            
        <div class=" groupmenu-drop-content groupmenu-width-12"
             style="">
                            <div class="row">
                                            <div class="col-md-6"><p>sdsda</p></div>
                                            <div class="col-md-6"><p>sdasdasdasd</p></div>
                                    </div>
                    </div>
    </li>                            </ul>
            </li><li class="item level0  level-top" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-gift"></i> <span>Tv & Home Theater</span></a>
            </li><li class="item level0  level-top" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-mobile"></i> <span>Cell Phones</span></a>
            </li><li class="item level0  level-top" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-desktop"></i> <span>Computers & Tablets</span></a>
            </li><li class="item level0  level-top" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-wrench"></i> <span>Tools and Hardware</span></a>
            </li><li class="item level0  level-top" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-book"></i> <span>Toys, Games & Drones</span></a>
            </li><li class="item level0  level-top" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-diamond"></i> <span>Camera</span></a>
            </li><li class="item level0  level-top" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-male"></i> <span>Health, Fitness & Beauty</span></a>
            </li><li class="item level0  level-top" >
            <a class="menu-link" href="#"><i class="menu-icon fa fa-expand"></i> <span>More Categories</span></a>
            </li></ul></div>