{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<div class="main-container ">
  <div class="main col1-layout">
    {% comment %}
    <div class="content-breadcrums">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {% include 'breadcrumbs' %}
          </div>
        </div>
      </div>		
    </div>

     TODO : print page title {% endcomment %}
    <div class="container col-main-containter">
      <div class="row">
        <div class="col-main col-xs-12">
          <div class="col-wrapper-main">
            {% comment %} TODO : print global message {% endcomment %}
            {% section 'product-template' %}
            
          </div>
        </div>
      </div>
    </div>
    {% section 'product-design' %}
    {% section 'product-icon-with-text' %}
    {% section 'product-image-with-text' %}
    {% section 'product-award-with_text' %}
    {% section 'product-icons-texts' %}
    {% section 'product-image-list' %}
    {% section 'product-review-app' %}
    {% section 'product-image-with-text_blocks' %}
    {% comment %}
    {% section 'product-video' %}
    {% endcomment %}
    {% section 'recommention' %}
  </div>
</div>

{% comment %}
<div class="ansel-benefit container-fluid">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Why The Assist Bag Is Your New Best Assistant.</h1>
        </div>
        <div class="col-xs-12 col-md-6 ansel-benefits-text">
            <h2>Independence While On The Go</h2>
            <p>Feel more confident and stress-less knowing you'll have everything you need right by your side, without sacrificing safety and security. It's the perfect assistant that helps you speed up recovery times, improve mobility and regain your feeling of independence and renewed dignity.</p>
        </div>
        <div class="col-xs-12 col-md-6 ansel-benefits-img text-center">
                <img src="https://cdn.shopify.com/s/files/1/0122/2901/7696/files/2.jpg?v=1626779239">
        </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-6 ansel-benefits-img text-center hidden-xs">
                    <img src="https://cdn.shopify.com/s/files/1/0122/2901/7696/files/woman_sitting.jpg?v=1626779997">
            </div>
        <div class="col-xs-12 col-md-6 ansel-benefits-text">
            <h2>Everything You Need, Right By Your Side</h2>
            <p>Ever struggle to keep all your essentials next to you on the go? Feeling unprepared stops here. Easily and safely carry around all of your daily essentials, from your phone, magazine, and tablets to any other necessities. Walk outside, to the grocery store or even around the house with more confidence and control. </p>
        </div>
            <div class="col-xs-12 col-md-6 ansel-benefits-img text-center visible-xs-block">
                <img src="https://cdn.shopify.com/s/files/1/0122/2901/7696/files/woman_sitting.jpg?v=1626779997">
            </div>
        
        </div>
        
         <div class="row">
        <div class="col-xs-12 col-md-6 ansel-benefits-text">
            <h2>One Size Fits All</h2>
            <p>The Assist Bag can be used on any size walker or wheelchair, ensuring stability and clears all doorways with ease. Designed to be simple and easy to move from one mobility device to the other. It can even be transformed into a shoulder bag for those who use a cane or need their assistant to carry their bag. We focus on functionality first.</p>
        </div>
        <div class="col-xs-12 col-md-6 ansel-benefits-img text-center">
                <img src="https://cdn.shopify.com/s/files/1/0122/2901/7696/files/havenue-pic.png?v=1626956942a">
        </div>
             
        </div>
        
    </div>
</div>
    
    
  <style>
        .ansel-reasons {
        padding-top: 80px;
        padding-bottom: 70px;
    }
    .ansel-reasons h1 {
            font-size: 42px;
    font-weight: 800;

    }
    .ansel-reasons h2 {
        font-size: 32px;
        font-weight: 800;
        margin-top: 20px;
    }
    .ansel-reasons-img img {
        max-width: 80%;
        margin: 0 auto;
    }
    .ansel-reasons .row {
        margin-top: 50px;
    }
        .ansel-reasons-img {
            text-align: center;
        }
.ansel-reasons .btn {
            background-color: #f12020;
            border-color: #f12020;
            font-size: 16px;
            letter-spacing: 0;
            font-weight: 900;
            padding: 10px 30px;
            height: auto;
            margin-top: 30px;
            font-family: 'Montserrat' !important;
        }
.ansel-reasons h2 {
            margin-top: 50px;
        }
    </style>
    
    <div class="ansel-reasons container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Even More Reasons</h1>
                <p>We understand the importance of functionality but also the need for fashion. We've crafted the assist bag to not only look stunning but to work seamlessly in the life of anyone who uses it.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xs-12 col-md-5 ansel-reasons-img align-center">
                <img src="https://cdn.shopify.com/s/files/1/0122/2901/7696/files/DSC_6488_c359f21d-cb77-4bbd-99f8-7b438dfd1592.jpg?v=1626780030">
            </div>
            <div class="col-xs-12 col-md-7 ansel-reasons-text">
                <h2>Opportunity + Security</h2>
                <p>Carry things day-to-day? Our bags are built to stand the test of time, while providing opportunity for you to carry any daily essentials. <br><br>Plenty of pockets with plenty of space for things like; tissues, phones, papers, mail, dog leashes, keys, purses and anything you need on your journey. We even included a zipper pocket to keep those valuables safe and secure.</p>

            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xs-12 col-md-5 ansel-reasons-img align-center visible-xs-block">
                <img src="https://cdn.shopify.com/s/files/1/0122/2901/7696/files/old_man_happy.jpg?v=1626781084">
            </div>
            <div class="col-xs-12 col-md-7 ansel-reasons-text">
                <h2>Timeless Style</h2>
                <p>Who says using a walker can't be functional AND stylish... Break the stigma of using a walker and show off your independence with a classy and clean design for men and women. <br><br>No more cheesy or cheap bag patterns that scream "hospital gown" from across the room. Get something more sophisticated and timeless instead.</p>

            </div>
            <div class="col-xs-12 col-md-5 ansel-reasons-img align-center hidden-xs">
                <img src="https://cdn.shopify.com/s/files/1/0122/2901/7696/files/old_man_happy.jpg?v=1626781084">
            </div>
        </div>
    </div>
    
    
    
    
    <style>
    .ansel-guar {
        background-color: #fff;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .ansel-guar h1 {
        font-size: 42px;
    font-weight: 800;
        margin-top: 30px;
        line-height: 1.4em;
    }
        .ansel-guar .btn {
            background-color: #f12020;
            border-color: #f12020;
            font-size: 16px;
            letter-spacing: 0;
            font-weight: 900;
            padding: 10px 30px;
            height: auto;
            margin-top: 30px;
            font-family: 'Montserrat' !important;
        }
    
</style>
    
<div class="ansel-guar container-fluid">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <img src="https://cdn.shopify.com/s/files/1/0122/2901/7696/files/guarantee.png?v=1626781635">
                <h1>Lifetime Secure
<br>100% Money-Back
<br>Guarantee</h1>
                <p>When you join us at Havanue, you can invest with confidence because you’ll always be covered by our money back guarantee. In the extremely unlikely event you can't pack everything you need for your daily requirements, or our bag doesn't hold up over the next 10 years, we will refund you 100% and even give you a completely free replacement bag - no charges and no questions asked. 
This is our way of helping keep you safe and mobile while on the go. </p>
            </div>
            
        </div>
    </div>
</div>
    
    





   
<style>
    .ansel-benefit {
        background-color: #fff;
        padding-top: 100px;
        padding-bottom: 70px;
    }
    .ansel-benefit h1 {
            font-size: 42px;
    font-weight: 800;
    margin-bottom: 70px;
    }
    .ansel-benefit h2 {
        font-size: 32px;
        font-weight: 800;
        margin-top: 20px;
    }
    .ansel-benefits-img img {
        max-width: 80%;
        margin: 0 auto;
    }
    .ansel-benefit .row {
        margin-top: 50px;
    }
</style>
    
    
    
    
    <style>
    .ansel-reasons {
      padding-top: 80px;
      padding-bottom: 70px;
    }
    .ansel-reasons h1 {
      font-size: 42px;
	  font-weight: 800;
    }
    .ansel-reasons h2 {
      font-size: 32px;
      font-weight: 800;
      margin-top: 20px;
    }
    .ansel-reasons-img img {
      max-width: 80%;
      margin: 0 auto;
    }
    .ansel-reasons .row {
      margin-top: 50px;
    }
    .ansel-reasons-img {
            text-align: center;
        }
        
        .ansel-reason .btn {
            background-color: #f12020;
            border-color: #f12020;
            font-size: 16px;
            letter-spacing: 0;
            font-weight: 900;
            padding: 10px 30px;
            height: auto;
            margin-top: 30px;
            font-family: 'Montserrat' !important;
        }
        .ansel-reasons h2 {
            margin-top: 30px;
        }
    </style>
    
    
    
    
    
<style>
    .ansel-guar {
        background-color: #fff;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .ansel-guar h1 {
        font-size: 42px;
    font-weight: 800;
        margin-top: 30px;
        line-height: 1.4em;
    }
    
    
    
    .nav-header {
            background-color: transparent !important;
    }
    .cdz-horizontal-menu .groupmenu {
        text-align: right !important;
    }
    .cdz-horizontal-menu .groupmenu li.level0>a.menu-link {
        font-size: 14px;
    font-family: 'Montserrat' !important;
    }
    
</style>


<style>
       .shopify-section.custom-html {
           margin: 0 !important;
           padding: 0 !important;
       }

       .ansel-sm-benefits {
           padding-top: 30px;
           padding-bottom: 40px;
       }

       .ansel-sm-benefits svg {
           width: 50px;
           height: 50px;
           color: #000;
           vertical-align: middle;
       }

       .ansel-sm-benefits p {
           display: inline-block;
           margin-bottom: 0;
           font-size: 18px;
           margin-left: 5px;
       }
   </style>

<style>
.group-header.group-header-style8 .cart-target>a .num-items-in-cart .block-cart {
height: 29px;
}
.group-header.group-header-style8 .search_form {
display: none;
}
.group-header.group-header-style8 .cart-target>a .num-items-in-cart .block-cart .icon-cdz {
    color: #fff !important;
}
.group-header.group-header-style8 .cart-target>a .num-items-in-cart {
background: #282828 !important;
}
.group-header.group-header-style2 .main-header {
padding-bottom: 20px !important}
.top-header { display: none }
.nav-header {
            background-color: transparent !important;
    }
    .cdz-horizontal-menu .groupmenu {
        text-align: right !important;
    }
    .cdz-horizontal-menu .groupmenu li.level0>a.menu-link {
        font-size: 14px !important;
    font-family: 'Montserrat' !important;
    }
    .ansel-hero {
        background-image: url('https://cdn.shopify.com/s/files/1/0122/2901/7696/files/DSC_6717_73308a94-a9dc-432f-b50b-c0afff57665c.jpg?v=1626776935');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
            padding-top: 100px;
    padding-bottom: 600px;
    }
    .ansel-hero h2 {
        font-weight: 400;
        font-size: 24px;
    text-transform: none;
    letter-spacing: 0;
            font-family: 'Montserrat' !important;
    }
    .ansel-hero h1 {
        font-weight: 800;
        font-size: 54px;
    text-transform: none;
    letter-spacing: 0;
            font-family: 'Montserrat' !important;
    }
    .ansel-hero p {
        font-size: 20px;
        font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
        color: #000;
    }
    .ansel-hero .btn {
        background-color: #f12020;
    border-color: #f12020;
    font-size: 21px;
    letter-spacing: 0;
    font-weight: 900;
    padding: 10px 50px;
    height: auto;
    margin-top: 40px;
            font-family: 'Montserrat' !important;
    }
    
    h1, h2, h3 {
        font-family: 'Montserrat' !important;
         text-transform: none !important;
        letter-spacing: 0 !important;
    }
    p {
        font-size: 20px;
        font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
        color: #000;
    }

</style>
    



<style>
  body{
  color: #282828;
  }
        @media (max-width: 768px) {
            .ansel-hero {
                padding-top: 50px;
                padding-bottom: 500px;
            }
            .ansel-hero h2 { font-size: 18px; }
            .ansel-hero h1 { font-size: 32px; }
            .ansel-hero p { font-size: 18px; }
            
            .ansel-benefit { padding-top: 20px; }
            .ansel-benefit h1 { font-size: 32px; }
            .ansel-benefit h2 { font-size: 24px;text-align: center;}
            .ansel-benefits-img img { max-width: 100%; margin-top: 20px; }
            
            .ansel-reasons { padding-top: 20px; }
            .ansel-reasons h1 { font-size: 32px; }
            .ansel-reasons h2 { text-align: center; }
            .ansel-reasons .btn { width: 100%; }
            
            .ansel-guar h1 { font-size: 32px; }
            
            .group-header.group-header-style8 .cart-target>a .num-items-in-cart .block-cart {
                height: 7px;
            }
            .cdz-mobile-search { display: none; }
            .wrap-all .cdz-navbar-toggle .icon-bar { background: #282828; }
            .navbar-default .navbar-toggle {
                margin-top: 8px;
            }
            .ansel-sm-benefits svg {
                width: 30px;
                height: 30px;
            }
            .ansel-sm-benefits p {
                margin-bottom: 20px;
            }
            .cdz-mobile-header-menu .cdz-mobile-search {
                display: none;
            }
            .ansel-product-tab .col-xs-12 {
                text-align: center;
                margin-bottom: 10px;
            }
          .product-view .product-name .product-name-h1, .product-view .product-name-h1 {
                font-size: 32px;
                text-align: center;
            }
          .product-essential .product-info-top {
          text-align: center;}
          .sku-rating { display: none; }
           .cdz-mobile-header-menu .cdz-mobile-search {
                display: none;
            }
            .cdz-mobile-header-menu .canvas-content .customer-links {
                display: none;
            }
            .cdz-mobile-header-menu .canvas-content .menu-search-form {
                display: none;
            }
            .grecaptcha-badge { display: none !important; }
            .breadcrumbs { display: none; }
        }
    </style>
 {% endcomment %}
